h1, h3, figure {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
}

#image-gallery {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
}

img {
    width: 400px;
    height: 350px;
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

body {
    background-color: rgba(247, 112, 24, .2);
}

h1, h3, figcaption {
    color: rgba(185 , 63, 8);
}

.griditem {
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    border-color: rgba(185, 63, 8);
}