/*
    Taylor Reid
    MyBio Assignment
    10/5/2022
*/

body {
    background-image: url("bg.jpg");
    background-size: cover;
}

hr {
    border-color: skyblue;
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

li {
    padding: 1rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-width: .5rem;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
}

footer {

}

img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.column {
    float: left;
    width: 30%;    
    margin: 1rem;
}

.center, .hobbies {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work {

}